name: Test

permissions:
  checks: write

on:
  pull_request:
  push:

concurrency:
  group: ${{ github.head_ref || github.run_id }}-${{ github.actor }}
  cancel-in-progress: true

jobs:
  validation:
    name: Validation
    runs-on: ubuntu-latest
    timeout-minutes: 1
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Zig
        uses: mlugg/setup-zig@v2

      - name: Lint
        run: zig fmt --check . --exclude externals/

  build:
    needs: ["validation"]
    strategy:
      fail-fast: false
      matrix:
        os: 
          - ubuntu-latest
          - macos-latest
          - windows-latest
    timeout-minutes: 10
    runs-on: ${{matrix.os}}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      - if: runner.os == 'Linux'
        name: Prepare
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: libdbus-1-dev
          version: 1.0

      - name: Install Zig
        uses: mlugg/setup-zig@v2

      - name: Init
        shell: bash
        run: zig build init

      - name: Build
        shell: bash
        run: zig build -Dexternals_optimize=Debug -Dwith_shaderc=false
